/* body{
    margin: 8rem;
}


h1{
    text-align: left;
}

#sucess-container{
    background-color: rgb(250, 250, 250);
    padding: 1rem;
    border-radius: 6px;
    box-sizing: content-box;
    box-shadow: 1px 2px 2px rgb(96, 96, 96);
}

a{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(26, 26, 26);
}

a:hover{
    font-size: 1.8rem;
} */



      body {
        text-align: center;
        padding: 4.5rem 0;
        
      }

        h1 {
          color: #88B04B;
          font-family: inherit;
          font-weight: 900;
          font-size: 4rem;
          margin-bottom: 3rem
        }

        p {
          color: #404F5E;
          font-family: inherit;
          margin: 0;
        }

      i {
        color: #9ABC66;
        font-size: 10rem;
        line-height: 200px;
        margin-left:-15px;
      }

      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }

    #mark{
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #f8faf5;
        margin: 0 auto;
    }